.l3{
    background-color:rgba(151,83,49,0.69);
}
.l3b1{
    z-index: 1;
    width: 10%;
    height: 80%;
    left: 0;
    top: 0;
}
.l3b2{
    z-index: 1;
    width: 10%;
    height: 92%;
    right: 0;
    bottom: 0;
}
.l3b3{
    z-index: 1;
    width: 10%;
    height: 92%;
    right: 20%;
    top: 0;
}
.l3b4{
    z-index: 1;
    width: 10%;
    height: 92%;
    right: 40%;
    bottom: 0;
}
.l3b5{
    z-index: 0;
    width: 50%;
    height: 10%;
    right: 40%;
    top: 10%;
    background-color: red;
}
.l3b6{
    z-index: 0;
    width: 20%;
    height: 10%;
    right: 8%;
    top: 70%;
    background-color: red;
}
.l3b7{
    z-index: 0;
    width: 20%;
    height: 20%;
    left: 20%;
    top: 40%;
}